@import "~@fluentui/react/dist/sass/References.scss";

.background {
  background: rebeccapurple;
}

.containerImages {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.content_item_images {
  max-height: 350px;
  min-height: auto;
  height: auto;
}
._item_Images {
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  margin: 10px;
}

.only_images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
}
.img_back {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.text_images {
  width: 100%;
  height: 70%;
}
._label {
  margin: 10px;
  font-family: Segoe UI;
  text-align: center;
  font-size: 15px;
  color: #3c1053;
  font-weight: bold;
}
/*type backgroud*/
.bg_1 {
  border-radius: 16px;
  background: linear-gradient(314deg, #963cbd 0%, #ff832a 100%);
}

.bg_2 {
  border-radius: 16px;
  background: linear-gradient(314deg, #783cbd 0%, #04d6ff 100%);
}

.bg_3 {
  border-radius: 16px;
  background: linear-gradient(314deg, #963cbd 0%, #f4364c 100%);
}

.bg_4 {
  border-radius: 16px;
  background: linear-gradient(314deg, #3c1053 0%, #963cbd 100%);
}
.bg_5 {
  border-radius: 16px;
  background: linear-gradient(314deg, #963cbd 0%, #3cfe90 100%);
}

.default {
  border-radius: 16px;
  background: transparent;
}
